* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: rgb(222, 235, 243);
}

.main-grid {
  width: 19.4375rem;
  margin: 5.14rem auto;
  display: grid;
  gap: 0;
  grid-template-areas:
    "one"
    "two"
    "three";
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.join {
  grid-area: one;
  background: rgb(255, 255, 255);
  color: rgb(154, 167, 190);
}

.headline {
  font-size: 1.25rem; /* 20px */
  line-height: 1.46125rem;
  letter-spacing: -0.015625rem;
  color: rgb(42, 178, 175);
}

.sub-headline {
  font-size: 0.9375rem;
  letter-spacing: -0.011875rem;
  color: rgb(192, 223, 52);
  margin: 1.5rem 0 1rem 0;
}

.subscription {
  grid-area: two;
  background: rgb(42, 178, 175);
}

.price {
  font-size: 2rem;
  line-height: 2.338rem;
  letter-spacing: 0.025rem;
  vertical-align: middle;
  margin-right: 0.6875rem;
}

.btn {
  margin: 1.625rem auto 0 auto;
  display: inline-block;
  padding: 1rem 6.25rem;
  text-decoration: none;
  background: rgb(192, 223, 52);
  line-height: 1.16875rem;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.subscription-p:nth-child(2) {
  color: rgb(112, 212, 208);
  margin: 1.125rem 0 0.25rem 0;
}

.subscription-p,
.btn {
  font-size: 1rem;
  letter-spacing: -0.0125rem;
}

.why-us {
  grid-area: three;
  background: rgb(23, 183, 176);
}

.list {
  list-style-type: none;
  color: rgb(193, 237, 235);
  margin-top: 1.125rem;
}

.join,
.subscription,
.why-us {
  padding: 1.5rem;
}

.main-grid,
.btn {
  border-radius: 0.25rem;
}

.join-p,
.subscription-p {
  line-height: 1.625rem;
}

.white {
  color: rgb(255, 255, 255);
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.second-headline {
  font-size: 1.125rem;
  line-height: 1.315rem;
  letter-spacing: -0.01375rem;
}

.sub-headline,
.list {
  line-height: 1.25rem;
}

.join-p,
.list {
  font-size: 0.875rem;
  letter-spacing: -0.010625rem;
}

.attribution {
  text-align: center;
  font-size: 0.6875rem;
}

.attribution a {
  color: rgb(62, 82, 163);
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .footer {
    position: absolute;
    bottom: 5rem;
  }

  .main-grid {
    width: 39.6875rem;
    grid-template-areas:
      "one one"
      "two three";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13.5rem 1fr;
    margin: 0;
  }

  .join,
  .subscription,
  .why-us {
    padding: 2.5rem;
  }

  .line-break {
    display: block;
  }

  .btn {
    padding: 1rem 5.5625rem;
  }
}
